---
import Shelf from "../components/Shelf.astro";
import Shelf2 from "../components/Shelf2.astro";
import Button from "../components/Button.astro";
import Header from "../components/Header.astro";
import Banner from "../components/Banner.astro";
import Newsletter from "../components/Newsletter.astro";
import Footer from "../components/Footer.astro";
import Testcard from "../components/Testcard.astro";
import Card from "../components/Card.astro";

const data = await fetch("https://rsghkgjbdnablmjgywlg.supabase.co/rest/v1/artists",{
	method: "GET",
	headers: {
		apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJzZ2hrZ2piZG5hYmxtamd5d2xnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Mjk1MDY5MTksImV4cCI6MjA0NTA4MjkxOX0.ZDdicHtFLTrNwvGDB0a74PXZxG9VGWTfa_SUmbTiwTk"
	}
}).then(res=>res.json());




---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<Header></Header>
		<h1>LINE-UP 2025</h1>
		<main>
            <Button></Button>
            <Banner></Banner>
		<section class="shelf">
			{data.map(show=>{
return <Testcard data={show}     variant = primary
 />
			})}
			
		</section>
		<Banner></Banner>
		<Newsletter></Newsletter>
		<Footer></Footer>
		<section class="shelf">
			{data.map(show=>{
return <Testcard data={show}     variant = primary
 />
			})}
			
		</section>
		
		<style>
			.shelf {
				display: grid;
				grid-template-columns: 1fr 1fr 1fr;
			}
		</style>
		
	</main>
	</body>
</html>