---
const { variant = "primary", text = "MANEGEN - THURSDAY - MANEGEN - THURSDAY - MANEGEN - THURSDAY - MANEGEN -" } = Astro.props;
---

<div class={variant}>
  <div class="scrolling-text">{text}</div>
</div>

<style>
  .primary {
    overflow: hidden;
    white-space: nowrap;
    background-color: #a64dff; 
    padding: 10px;
   
  }

  .primary .scrolling-text {
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 70px;
    font-weight: 200;
    color: white;
    animation: scroll 20s linear infinite;
  }

  .secondary {
    overflow: hidden;
    white-space: nowrap;
    background-color: #fff616; 
   
  }

  .secondary .scrolling-text {
    display: inline-block;
    font-size: 30px;
    font-weight: bold;
    color: black;
    animation: scroll 10s linear infinite;
  }

  .tertiary {
    overflow: hidden;
    white-space: nowrap;
    background-color: #ffffff; 
    padding: 20px 0;
  }

  .tertiary .scrolling-text {
    display: inline-block;
    font-size: 40px;
    font-weight: bold;
    color: black;
    animation: scroll 10s linear infinite;
  }

  @keyframes scroll {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(-100%);
    }
  }
</style>
