---
const { variant, text, imageSrc } = Astro.props;
---

<div class={variant} style={imageSrc ? `background-image: url(${imageSrc});` : ''}>
  {text && <div class="scrolling-text">{text}</div>}
</div>

<style>
  .primary, .secondary, .tertiary {
    overflow: hidden;
    white-space: nowrap;
    padding: 10px;
    background-size: contain; /* Ændret til contain, så hele billedet vises */
    background-repeat: repeat-x; /* Gentag billedet horisontalt */
    background-position: 0 0; /* Start fra venstre */
    animation: scroll-bg 20s linear infinite; /* Animer baggrunden */
    height: 50px; /* Øg højden på banneret */
  }

  .primary {
    background-color: #a64dff;
  }

  .secondary {
    background-color: #fff616;
  }

  .tertiary {
    background-color: #ffffff;
  }

  .scrolling-text {
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: bold;
    animation: scroll-text 10s linear infinite;
  }

  @keyframes scroll-bg {
    from {
      background-position: 0 0;
    }
    to {
      background-position: -100% 0;
    }
  }

  @keyframes scroll-text {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(-100%);
    }
  }
</style>
