---
const { variant } = Astro.props;
---

<button data-variant={variant}>
  <slot />
</button>

<style>
     [data-variant="primary"] {
      background-color: #FFF616;
      padding: 12px 24px;
      border-radius: 50px;
      color: black;
     }
  
     [data-variant="primary"]:hover {
      background-color: #BE56FE;
      padding: 12px 24px;
      border-radius: 50px;
      color: white;
     }
     [data-variant="secondary"] {
      background-color: #BE56FE;
      padding: 12px 24px;
      border-radius: 50px;
      color: white;
     }
  
     [data-variant="secondary"]:hover {
      background-color: #FFF616;
      padding: 12px 24px;
      border-radius: 50px;
      color: black;
     }
     
  </style>