<footer>
  <span style="color: white;">3 DAYS OF</span>
<span style="color: yellow;">HOUSE, DISCO</span>
<br>
<span style="color: white;">&</span>
<br>
<span style="color: yellow;">TECHNO</span>
<span style="color: white;">IN THE WOODS</span>
<br>
<div style="position: absolute; top: 50px; left: 30px; color: white;">
  info@nusnus.dk
</div>
</footer>

<style>
footer {
  grid-column: 1 / -1;
  background: black;
  padding: 400px  24px 7px 15px;
  /* border-radius: 8px; */
  font-family: Helvetica;
  font-size: 60px;
  color: white;
  
}
</style>