<div class="container">
      <div class="text">
         <h1>STAY UP TO DATE </h1>
      </div>
      <form action="#">
         <div class="form-row">
            <div class="input-data">
               <input type="text" required>
               <div class="underline"></div>
               <label for="">Name</label>
            </div>
            <div class="input-data">
               <input type="text" required>
               <div class="underline"></div>
               <label for="">E-mail</label>
            </div>
         </div>
            <div class="form-row submit-btn">
              <button type="submit">Sign up
            </button>
                             
               </div>
               <div class="tekst">By signing up, you agree to our Terms & Conditions.</div>
            </div>
          

            
      </form>
      </div>
      
      <style>
 

.container{
  background: #FFF73B;
 padding: 20px;
}
.container .text{
  text-align: left;
  padding-left: 5px;
color: #000000;

}
.text{
font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
   font-size: 30px;
}
.container form{
  padding: 30px 0 0 0;
}
.container form .form-row{
  display: flex;
  margin: 32px 0;
}
form .form-row .input-data{
  width: 100%;
  height: 40px;
  margin: 0 20px;
  position: relative;
}
form .form-row .textarea{
  height: 70px;
}
.input-data input,
.textarea textarea{
  display: block;
  width: 100%;
  height: 100%;
  border: none;
  font-size: 17px;
  border-bottom: 2px solid rgba(0,0,0, 0.12);
  background-color: #FFF73B;
   outline: none;
  box-sizing: border-box;
}
.input-data input:focus ~ label, .textarea textarea:focus ~ label,
.input-data input:valid ~ label, .textarea textarea:valid ~ label{
  transform: translateY(-20px);
  font-size: 14px;
  color: #000000;
}
.textarea textarea{
  resize: none;
  padding-top: 10px;
}
.input-data label{
  position: absolute;
  pointer-events: none;
  bottom: 10px;
  font-size: 16px;
  transition: all 0.3s ease;
  font-family: Arial, Helvetica, sans-serif;
}
.textarea label{
  width: 100%;
  bottom: 40px;
  
}
.input-data .underline{
  position: absolute;
  bottom: 0;
  height: 2px;
  width: 100%;
  
}
.input-data .underline:before{
  position: absolute;
  content: "";
  height: 2px;
  width: 100%;
  background: #000000;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}
.input-data input:focus ~ .underline:before,
.input-data input:valid ~ .underline:before,
.textarea textarea:focus ~ .underline:before,
.textarea textarea:valid ~ .underline:before{
  transform: scale(1);
  
}
  button {
  background-color: #000000;
      padding: 12px 24px;
      border-radius: 50px;
      color: white;
      border: none;
      font-size: 1.2rem;
      cursor: pointer;
      font-family: Arial, Helvetica, sans-serif;
     
    
  }

/* Add a hover effect for buttons */
button:hover {
      color: #BE56FE;
}
.tekst {
 float: right;
 font-family: Arial, Helvetica, sans-serif;
}
</style>






