---
const { variant, imgPath, imgAlt, cardName } = Astro.props;
import Card from './Card.astro';
---

<div class="shelf-container">
    <Card 
    imgPath="/imges/karrusel.jpeg" 
    imgAlt="Artist 2" 
    cardName="Miley album"
    cardText = About


    />
  <Card 
    imgPath="/imges/karrusel.jpeg" 
    imgAlt="Artist 2" 
    cardName="Bangerz"
    cardText = About


  />
  <Card
    imgPath="/imges/karrusel.jpeg" 
    imgAlt="Artist 2" 
    cardName="Bangerz"
    cardText = About
  />
</div>

<style>
  .shelf-container {
    margin-left: 40px;
    padding: 40px 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px; /* Justerar avståndet mellan korten */

  }
  
</style>